/*#myCanvas {
  background-color: indigo;
}*/
/*img.frame {
  border-image: src="Brick-border1.jpg" 93 92 87 92 stretch stretch;
  border-style: inset;
  border-width: 60px;
  display: block;
  width: 40%;
  height: auto;
  background-color: indigo;
  margin: 0 auto;
}*/
/*@media all and (max-width: 500px) {
  img.frame {
    border-width: 0px;
    width: 100%; }
}*/
